# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Media & Logs
assets/*
!assets/.gitkeep
outputs/*
!outputs/.gitkeep
*.db

# OS
.DS_Store
Thumbs.db

# Secrets & env
.env

.claude
*.pt
# Allow example env
!.env.example
